.popup{
    color: black;
    position: center;
    top:0;
    right:0;
    width: 20veh;
    max-width: 40veh;
    
    background-color: rgba(0,0,0,0.5);
    display:flex;
    justify-content: center;
    align-items: center;
}
.popup-inner{
position: relative;
padding: 12px;
width: 100%;
max-width: 50 ;
background-color: white;
}
.popup-inner .close-btn{
    position: absolute;
    top: 2px;
    right: 2px;
}