.wrapper {
    display: flex;
    align-items: stretch;
}

#usersidebar {
    min-width: 250px;
    max-width: 100%;

}

#usersidebar.active {
    margin-left: -250px;
}
#usersidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
    
}
a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}
@media (max-width: 768px) {
    #usersidebar {
        margin-left: -250px;
    }
    #usersidebar.active {
        margin-left: 0;
    }
}
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}
.dropdown-toggle{
    background:black;
    color: #fff;
    
}
#usersidebar {
    /* don't forget to add all the previously mentioned styles here too */
    background:black;
    color: #fff;
    transition: all 0.3s;
}
.sidepanel{
    background:black;
    color: #fff;
}
#usersidebar .sidebar-header {
    padding: 20px;
    background: black;
}

#usersidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid black;
}

#usersidebar ul p {
    color: #fff;
    padding: 10px;
}

#usersidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#usersidebar ul li a:hover {
    color:black;
    background: #fff;
}

#usersidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: black;
}
ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: black;
}
.log_btn{
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}
a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

